.overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
  }
.videoBanner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoBanner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.videoBanner .videoContent {
    position: relative;
    z-index: 3;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    animation: 2s ease-out 0.5s 1 slideInFromBottom;
}
.videoBanner .videoContent h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #fff;
}
.videoBanner .videoContent p{
    font-size: 4.2em;
    color: #fff;
    animation: translateDown 1s;
}
.videoBanner .videoContent a{
    animation: translateUp 1s ;
}
.page-title h1 {
    margin-top: 70px;
}
.activeMenu{
    background-color: #f8960d;
}
.activeSubMenu{
    background: #333333;
}
.activeSubMenu a{
    color: #fff!important;
}
.services-single .inner-box .lower-content h4 {
    color: #333333;
    font-weight: 600;
}
.myList li{
    list-style: circle;
    margin-left: 20px;
}
/** own dropdown **/
.dropdown .ownDropdown{
    display: none;
}
.activateDropdown:hover .ownDropdown{
    display: block;
}
.dropdown .ownDropdown li a{
    padding: 10px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #272727;
}
.activateDropdown .ownDropdown li:hover{
    background:  #272727;
}
.dropdown .ownDropdown li:hover a{
    color: white;
}
@keyframes translateDown {
    from{
        transform: translate(0px, -25px);
    } to{
        transform: translate(0px, 0px);
    }
}

@keyframes translateUp {
    from{
        transform: translate(0px, 25px);
    } to{
        transform: translate(0px, 0px);
    }
}

@media only screen and (max-width: 400px){
    .videoBanner .videoContent p{
        font-size: 3.2em;
        color: #fff;
        animation: translateDown 1s;
    }
}